

@media (max-width: 1440px){
    .bg{
       
        height: auto;
    }
    .sub-banner {
        padding: 10px 14px;
      width: auto;
      height: auto;
    }
    .container .row{
        padding: 0 1rem;
      
      }
      .nft-content h1 {
        font-size: 2.2rem;
      }
      .stroke img {
        padding: 0 1rem;
      }
      .rates .rate-content h5 {
        text-align: center;
      }
      .rates .rate-content {
        margin-right: 1rem;
      }
      .rates{
        padding-left: 0;
      }
      .nft-content .stroke h4 {
        font-size: 37px;
        bottom: 3rem;
      }
      .nft-content p {
        font-size: 19px;
    }
    .btns {
        
            padding: 0 2rem;
        
    }
    .rates .rate-content h5 {
        font-size: 2.2rem;
    }
    .center-circle {
        top: 35%;
    }
    .banner{
        padding: 8px 10px;
    }
    .img-section {
        right: -1rem;
        /* margin-top: -4.5rem; */
}
.sub-banner {
    margin-right: 17px;
}
}
@media(max-width:1024){
    .rates .rate-content {
        margin-right: 0rem;
    }
    /* .stroke img {
        padding: 0 1rem;
    }
    
    .stroke img {
        width: 38%;
    } */
}
@media (max-width: 768px){
    .navbar-collapse{
        justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    }
    .custom-btn {
        margin: 0;
    }
    .container .row {
        padding: 0 0rem;
    }
    .img-section{
        border-top-right-radius:0 ;
        border-bottom-left-radius: 3rem;
        right: 0;
        margin-top: 0.5rem;
        box-shadow: none;
        top: 3rem;
    }
    .sub-banner{
        width: 200px;
        height: 113px;
    }
    .center-circle{
        display: none;
    }
}
@media (max-width: 425px){
     .stroke img {
        padding: 0 1rem;
    }
    
    .stroke img {
        width: 38%;
    } 

    .nft-content h1 {
        text-align: center;
        padding: 1rem;
        font-size: 1.5rem;
        line-height: 3rem;
    }
    .stroke{
        text-align: center;
        padding: 0 1rem;
        height: 6vh;
    }
    .stroke h4{
        text-align: center;
        font-size: 31px;
    }
    .nft-content .para{
        padding: 0 1rem;
        text-align: center;
    }
    .btns {
       
            padding: 0 3.5rem;
        
    }
    .rates{
    
            margin-left: auto;
            margin-right: auto;
            flex-direction: column;
    }
    .rates .rate-content h5 {
        text-align: center;
    }
    .rates .rate-content {
        margin-right: 0rem;
    }
    .sub-banner {
        width: 170px;
    }
    /* .img-section{
        right: -20px;
      width: 24.7rem !important;
    } */
    .navbar-collapse{
        padding: 2rem 0;
    }
}
@media (max-width: 375px){
    .btns {
        padding: 0 5.5rem;
    }
    .stroke img {
        width: 45%;
    }
    
    .btns {
        padding: 0 6rem;
        display: flex;
        flex-direction: column;
    }
    .custom-btn {
        margin: 1rem 0;
    }
    .nft-content h1 {
        padding: 0;
        text-align: center;
    }
    .stroke {
        text-align: center;
    }
    .nft-content .para {
        text-align: center;
    }
    .banner-outer {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .sub-banner {
        width: 170px;
        margin: 1rem 0;
    }
    .alignment {
        padding: 0 6px;
    }
    .banner .heading {
        font-size: 16px;
    }
}
@media (max-width: 320px){
    .nft-content h1 {
        padding-top: 3rem;
        padding: 0;
        padding: 0 3rem;
        font-size: 1.2rem;
        line-height: 2rem;
    }
    .stroke {
        padding: 0;
        padding: 1rem 3rem;
    }
    nft-content .stroke h4 {
        font-size: 30px
    }
    .stroke img {
        width: 35%;
    }
    .nft-content .para {
        padding: 0;
        padding: 1rem 3rem;
        font-size: 15px;
    }
    .btns {
        padding: 0 7rem;
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
        /* text-align: center; */
        flex-direction: column;
    }
    .custom-btn {
        margin: 1rem 0;
    }
    .rates .rate-content h5 {
        font-size: 2rem;
    }
    /* .img-section{
        width: 21.7rem !important;
        right: -44px;
    } */
}
@media (max-width: 320px){
    .stroke img {
        width: 70%;
    }
.btns {
    padding: 0 5rem;
}
.rates{
    padding-left: 0;
    padding-right: 0;
}
.outer{
    padding-top: 2rem;
}
}